<!DOCTYPE html>
<head>
    <title>DAFFMAN - User Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
      crossorigin="anonymous">
    </script>
    <script src="js/bootstrap.bundle.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script> 


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .form-control {
          color: #fff;
      }

      .form-control:focus {
          color: #fff;
      }


    </style>
    <link href="navbar-top-fixed.css" rel="stylesheet">
</head>
<body style="background-color: #212121; color: white;">
    

    <!-- As a link -->
    <header class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: black;">
        <div class="container-fluid">
          <a class="navbar-brand" href="" fill="blue">
            <svg fill="#ffffff" width="48px" height="32px" viewBox="0 0 16 16" id="SVGRepoEditor" 
                xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g> <path id="SVGRepoEditor" data-name="Path 102" d="M35.5,16h-11A2.5,2.5,0,0,1,22,13.5v-8A2.5,2.5,0,0,1,24.5,3h4A2.5,2.5,0,0,1,31,5.5V6h4.5A2.5,2.5,0,0,1,38,8.5v5A2.5,2.5,0,0,1,35.5,16ZM24.5,4A1.5,1.5,0,0,0,23,5.5v8A1.5,1.5,0,0,0,24.5,15h11A1.5,1.5,0,0,0,37,13.5v-5A1.5,1.5,0,0,0,35.5,7h-5a.5.5,0,0,1-.5-.5v-1A1.5,1.5,0,0,0,28.5,4Z" transform="translate(-22 -3)">
                </path> </svg>
              <span class="fs-4">DAFFMAN&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;User Profile</span>
          </a>
          <hr>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
            <div class="dropdown show">
              <button class="btn dropdown-toggle btn-lg" type="button" style="color: white" sid="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg fill="#ffffff" width="28px" height="32px" 
                viewBox="0 1.5 30.586 30.586" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g transform="translate(-546.269 -195.397)"><path d="M572.138,221.245a15.738,15.738,0,0,0-21.065-.253l-1.322-1.5a17.738,17.738,0,0,1,23.741.28Z"></path><path d="M561.464,204.152a4.96,4.96,0,1,1-4.96,4.96,4.966,4.966,0,0,1,4.96-4.96m0-2a6.96,6.96,0,1,0,6.96,6.96,6.96,6.96,0,0,0-6.96-6.96Z"></path><path d="M561.562,197.4a13.293,13.293,0,1,1-13.293,13.293A13.308,13.308,0,0,1,561.562,197.4m0-2a15.293,15.293,0,1,0,15.293,15.293A15.293,15.293,0,0,0,561.562,195.4Z"></path></g></svg>
                {{ session['username'] }}
              </button>
              <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/browser">File Browser</a>
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/logout">Sign Out</a>
                
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ms-sm-auto col-lg-11 px-md-4" height="10000">
              <canvas class="my-4 w-100" id="myChart" width="200" height="5"></canvas>
              <a href="/browser">
                <button class="btn btn-primary" type="submit">
                  Return to File Browser
                </button>                
              </a>
              <hr style="color: white;">
                <div class="row">
                  <div class="col">
                    Registered Name
                    <input type="text" class="form-control" placeholder="{{ session['fullname'] }}" style="color: black;" readonly>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    User Name
                    <input type="text" class="form-control" placeholder="{{ session['username'] }}" style="color: black;" readonly>
                  </div>
                </div>
                <br><br>
                <div class="row">
                  <div class="col">
                    <h4>Current Password for Login and File Encryption/Decryption</h4>
                    <hr>
                    <table class="table table-dark">
                      <tr>
                        <td>
                          <b>Plain Text</b>
                        </td>
                        <td>
                          {{ session['rawpass'] }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>sha256</b>
                        </td>
                        <td>
                            {{ hashedpass }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br>
                <hr style="color: white">
                <br><Br>
                <h3>Change Password</h3>
                <hr>
                {% if session['matchuserpass'] == True %}
                  <p class="alert alert-danger">
                    Error: Password does not match. Please re-enter.
                  </p>
                {% endif %}
                {% if session['blankuserpass'] == True %}
                  <p class="alert alert-danger">
                    Error: No password entered.
                  </p>
                {% endif %}
                {% if session['newuserpass'] == True %}
                  <p class="alert alert-success">
                    Admin password changed 
                  </p>
                {% endif %}
                {% if session['sameuserhash'] == True %}
                  <p class="alert alert-danger">
                    Error: New password is same as the old one 
                  </p>
                {% endif %}
                <form method="POST" action="/changepass">
                  <div class="row">
                    <div class="col">
                        New Password
                        <input type="password" class="form-control" id="newuserpass" name="newuserpass" placeholder="Enter New Password" style="color: black;">
                    </div>
                    <div class="col">
                        Confirm Password
                        <input type="password" class="form-control" id="passmatch" name="passmatch" placeholder="Re-enter Password" style="color: black;">
                    </div>
                  </div>
                  <br><Br>
                  <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#passusermodal">
                    Change Password
                  </button>
                  <button class="btn btn-secondary" type="reset">
                    Clear Input
                  </button>
                  <!-- Modal -->
                    <div class="modal fade show" id="passusermodal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="color: black">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Change User Password for {{ session['username'] }}</h5>
                              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>User password for {{ session['username'] }} will be changed forever.
                                Make sure to remember the password or write it wherever you want.<br>
                                PASSWORD IS IRRECOVERABLE ONCE LOST OR FORGOTTEN</p>
                              <p>Proceed?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">
                                  Confirm
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                  Cancel
                                </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  <!-- end Modal -->
                </form>
                
              <canvas class="my-4 w-100" id="myChart" width="300" height="1000"></canvas>
            </main>
        </div>
      </div> 


</body>
</html>